src/main/mule/commonRequestToCD/commonRequestToCD.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:sqs="http://www.mulesoft.org/schema/mule/sqs" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:cloudhub="http://www.mulesoft.org/schema/mule/cloudhub"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/cloudhub http://www.mulesoft.org/schema/mule/cloudhub/current/mule-cloudhub.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/sqs http://www.mulesoft.org/schema/mule/sqs/current/mule-sqs.xsd">
	<flow name="commonRequestToCDFlow" doc:id="7f6e417f-d410-4ae3-b5ee-dadb51b99a5f" >
		<logger level="INFO" doc:name="Logger" doc:id="608a305e-4086-4721-9c33-938209420fe3" message="+++In Common Request To CD Flow+++"/>
		<choice doc:name="Choice" doc:id="a71bfb38-f6a5-4517-82c8-25cfcea62603" >
			<when expression="#[(p('allowed_country') splitBy(&quot;,&quot;) contains(vars.systemIdentifier))]">
				<http:request method="PUT" doc:name="Request" doc:id="7560c606-fed3-4209-850c-78a77f5f3c29" config-ref="HTTP_Common_Request_configuration" path="#[vars.varDynPath]">
			<reconnect frequency="20000" count="5" />
			<http:body><![CDATA[#[vars.orgPayload]]]></http:body>
				<http:headers><![CDATA[#[output application/java
---
{
	"Content-Type": "application/json",
	"Accept" : "application/json",
	"X-Client-Cert-Verify" : p('X-Client-Cert-Verify'),
	"X-RSM-int-api-key" : vars.apiKey,
	"X-Request-Identifier" : vars.request_id
}]]]></http:headers>
		</http:request>
				<logger level="INFO" doc:name="Logger" doc:id="79bb240f-be57-403f-8917-7dcc18a2a4ef" message="+++ End of Common Request To CD Flow +++" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="b0dcd137-501c-4f3d-9fa0-59c32d13f5c1" message="+++ #[vars.systemIdentifier] Country is not configured for Concrete Direct Integration +++"/>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="58dc0f6e-c28f-4f95-b6cc-4cf1c021f318" type="HTTP:BAD_REQUEST, HTTP:PARSING, EXPRESSION, STREAM_MAXIMUM_SIZE_EXCEEDED" >
				<logger level="INFO" doc:name="Logger" doc:id="2d10f83c-3c8f-4b7f-97b5-e8172380bb64" message="++++Inside HTTP Error Propogate for bad data content and Erroring out ++++" />
				<logger level="INFO" doc:name="Logger" doc:id="1f1a8c1d-f35a-41ac-8bad-5e1e203e12d6" message="+++ ERROR: Possible Data Content Issue +++"/>
				<set-variable value="400" doc:name="Set Variable" doc:id="2a06cd2a-06a6-4497-a691-44ec195d2f35" variableName="errorStatusCode" />
				<logger level="INFO" doc:name="Logger" doc:id="b2d3a1fd-3f07-4407-bb3c-04e4d8ac664a" message="++++ Here is the Erroneous Master Data, #[vars.buisObj] and Org. payload is #[vars.orgPayload] ++++" />
				<logger level="INFO" doc:name="Logger" doc:id="06fb7c62-5b2e-4e1b-9463-9ded04d2b7da" message="+++ Sending Error Information via Email +++" />
				<set-payload value='#[%dw 2.0&#10;output application/java&#10;---&#10;"Mule API Technical Error - Bad data content/Erroneous data for " ++ (vars.buisObj default "") ++ " ID: " ++ (payload.external_id default "") ++ " received through Request ID " ++ (vars.request_id default "")]' doc:name="Set Payload" doc:id="ac26fd27-7470-4f74-9a4d-5c2ba86b66c2" />
				<logger level="INFO" doc:name="Logger" doc:id="b80e889d-d57c-4a81-928a-3af655acd917" message="+++Message sent via Email - #[payload] +++" />
				<cloudhub:create-notification domain="${secure::cloudhub.domain}" doc:name="Create Notification" doc:id="baf8d630-548a-423c-a7d6-1d501b4ae655" config-ref="CloudHub_Config" priority="ERROR" />
				<logger level="INFO" doc:name="Logger" doc:id="a5ed6ec0-a87a-4607-bed7-af3a509552e9" message="+++ Email Alert Sent for possible Data content issue +++"/>
			</on-error-propagate>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="082c25bd-be8f-4e76-a101-744b404d6271" type="HTTP:BAD_GATEWAY, HTTP:CONNECTIVITY, HTTP:INTERNAL_SERVER_ERROR, HTTP:RETRY_EXHAUSTED, HTTP:SERVICE_UNAVAILABLE, HTTP:TIMEOUT">
				<logger level="INFO" doc:name="Logger" doc:id="e0e88cfc-5b58-49c5-bfa7-19584bbc2ba0" message="++++Inside Error and Continue Segment for HTTP Connectivity in Error Handling +++" />
				<flow-ref doc:name="Flow Reference" doc:id="ae7212e6-ccda-4818-a965-a69eb66d9530" name="errorHandlerFlow"/>
				<logger level="INFO" doc:name="Logger" doc:id="db7392e4-c541-4953-888f-a84d30bf5ddd" message="+++ ERROR:  Possible CD API is down or unreachable +++"/>
			</on-error-continue>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="5776387c-c5fb-4ebf-a3f5-9d79d30b5b30" type="HTTP:BASIC_AUTHENTICATION , HTTP:CLIENT_SECURITY, HTTP:FORBIDDEN, HTTP:METHOD_NOT_ALLOWED, HTTP:NOT_FOUND, HTTP:SECURITY, HTTP:TOO_MANY_REQUESTS, HTTP:UNAUTHORIZED, HTTP:UNSUPPORTED_MEDIA_TYPE">
				<logger level="INFO" doc:name="Logger" doc:id="f521c4d4-67e0-491a-9ec3-15fee77aa0a1" message="++++Inside Error and Continue Segment in Error Handling +++" />
				<logger level="INFO" doc:name="Logger" doc:id="f1d4af16-f76c-4ac2-8699-de7b2d4fd0f3" message="+++ ERROR: Possible Authentication/Authorization issue +++"/>
				<flow-ref doc:name="Flow Reference" doc:id="59a11419-0035-44f1-8d15-bdf070f96780" name="errorHandlerFlow" />
				<logger level="INFO" doc:name="Logger" doc:id="5c88f7d8-e009-4bde-97b3-cadac0d19c81" message="+++ Sending Error Information via Email +++" />
				<set-payload value='#[%dw 2.0&#10;output application/java&#10;---&#10;"Mule API Technical Error - HTTP Gateway/Authentication/Forbidden Error for " ++ (vars.buisObj default "") ++ " ID: " ++ (vars.external_id default "") ++ " received through IDoc Number " ++ (vars.request_id default "")]' doc:name="Set Payload" doc:id="f731159b-867e-4cfd-9ae4-58008060abb1" />
				<logger level="INFO" doc:name="Logger" doc:id="c844960f-ec81-45a4-a3e1-4c6ef9060ddc" message="+++ #[payload] +++" />
				<cloudhub:create-notification domain="${secure::cloudhub.domain}" doc:name="Create Notification" doc:id="ccefe8b7-fc6d-45b1-b23e-766a575ee189" config-ref="CloudHub_Config" priority="ERROR" />
				<logger level="INFO" doc:name="Logger" doc:id="b8d35731-d6d1-4258-be9c-52dec81d1f57" message="+++ Email Alert Sent for CD API authorization/authentication issue +++"/>
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
